.search {
  display: inline-flex;
  padding: 5px;
}
.text-input {
  width: auto !important;
  margin: 5px;
}
.button {
  margin: 5px !important;
}
.amount-coversion {
  padding: 1px;
  color: #2d7410;
  font-weight: bold;
}
